
.info, .success, .warning, .error, .validation {
border: 1px solid;
padding:0px 0.8%;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('pic/knobs/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('pic/knobs/success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('pic/knobs/warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
}

.error img {
	display: inline-block;
	vertical-align: middle;
	margin: 0.8% 1% ;
	width: 2.2vw;
	height: 2.2vw;
}